
.center__container {
    /* max-width: 55rem;
    max-height: 55rem; */
    margin-inline: auto;
}

.container__view {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    /* max-width: 70rem; */
    max-height: 28rem;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin: 3rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #064663;
    font-family: Poppins;
}

::-webkit-scrollbar {
    display: none;
}

.center_logo {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.add_tasks_logo {
    transform: scale(0.6);
    margin-bottom: auto;
}

.no_tasks {
    color: white;
    text-align: center;
    font-family: Poppins;
    transform: scale(1.7);

}
