nav {
    background: transparent;
    width: 100%;
    padding: 1rem;
    font-family: Poppins;
    /* margin-bottom: 2rem; */
}

.container {
    display: flex;
}

.flex__container {
    /* padding-top: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #041C32;
    color:#fff;    
}

.title {
    color:#fff;
    transform: scale(1.4);
    padding-right: 2rem;
}

.logo {
    transform: scale(0.6);
}

hr {
    background-color: rgb(0, 183, 255); 
    height: 5px;
}