.card {
    background-color: rgb(212, 208, 208);
    border-radius: 1rem;
    width: 35rem;
    font: Poppins;
}

.checkbox {
	width: 100%;
}

input[type='checkbox'] { 
    transform: scale(1.5); 
    outline: 1px solid #064663;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    gap: 1rem;
}

.card_body_row_1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.task_children_3 {
    margin-left: auto;
}

.task_children_2 {
    min-width: 0;
    margin-right: auto;
}

.task_children_1 {
    margin-right: 5px;
    margin-left: -15px;
}

.card_body_row_2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.delete_task {
    transform: scale(1.1); 
}

.delete_task :hover {
    color: red;
}

.expand_descr {
    margin-right: 5px;
    margin-left: -15px;
    transform: scale(1.5); 
}

.date {
    font-size: small;
}

/* media queries for small, medium, large, extra large devices */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    /* No changes */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* No changes */
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .card {
        width: 22rem;
    }

    input[type='checkbox'] { 
        transform: scale(1.3); 
    }

    .card_body {
        gap: 1rem;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .card {
        width: 12rem;
    }

    input[type='checkbox'] { 
        transform: scale(1); 
    }

    .card_body {
        gap: 0.5rem;
    }

}