.card {
    background-color: rgb(212, 208, 208);
    border-radius: 1rem;
    width: 35rem;
    font: Poppins;
}

.checkbox {
	width: 100%;
}

input[type='checkbox'] { 
    transform: scale(1.5); 
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    gap: 1rem;
    
}

.card_body_row_1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* flex-wrap: wrap; */
    /* gap: 1rem; */
}

.task_children_3 {
    margin-left: auto;
}

.task_children_2 {
    min-width: 0;
    margin-right: auto;
}

.task_children_1 {
    margin-right: 5px;
    margin-left: -15px;
}

.card_body_row_2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* gap: 1rem; */
}

.delete_task {
    transform: scale(1.1); 
}

.delete_task :hover {
    color: red;
}

.expand_descr {
    transform: scale(1.5); 
}

.date {
    font-size: small;
}

