@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.App {
  /* text-align: center; */
  background-color: #041c32;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.task_components {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
